.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 85px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 27px;
}

.about-section-content {
  margin: 30px;
}

.about-section-image {
  border-radius: 10px;;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }
}