/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  line-height: 25px;
}

nav {
  padding: 20px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav a {
  color: black;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
  text-decoration: none;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-weight: normal;
  line-height: 1;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 85px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 27px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1;
}

.content .text-muted {
  opacity: 0.7;
}

.content p {
  font-size: 14px;
}

.image-radius {
  border-radius: 10px;
}

footer {
  margin: 60px 0;
}

footer .social-icons a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .social-icons a:hover {
  margin: 0 20px;
  color: white;
  background-color: var(--branding-color);
  text-decoration: none;
}

footer .contact-container {
  background: var(--secondary-color);
  padding: 30px 60px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .project-description {
    padding: 10px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 0.8rem;
  }

  nav {
    margin: 10px;
  }
}
