/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
  color: #000000;
}

h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
