/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
}
